---
import SocialLink from "../components/social-link.astro"
import "@fontsource/inter/variable.css"
import BackgroundAnimation from "../components/background-animation"
---

<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body class="bg-paper-dark text-ink-dark relative">
		<div class="inset-0 fixed">
			<BackgroundAnimation client:load />
		</div>
		<main
			class="absolute p-10 flex xl:items-end xl:justify-between w-screen gap-16 xl:flex-row flex-col xl:min-h-screen"
		>
			<div class="">
				<h1 class="text-6xl text-accent-dark font-semibold mb-4">hi craw</h1>
				<span class="italic font-medium">
					Graphic Designer
					<span class="text-accent-dark font-light mx-2 select-none">/</span>
					Web Developer
					<span class="text-accent-dark font-light mx-2 select-none">/</span>
					Music Liker
					<span class="text-accent-dark font-light mx-2 select-none">/</span>
					Bird
					<span class="text-accent-dark font-light mx-2 select-none">/</span>
					Based in Panama
				</span>
			</div>
			<div class="flex flex-wrap gap-x-9 gap-y-4 grid-cols-3">
				<SocialLink
					name="GitHub"
					handle="@Crawron"
					link="https://github.com/Crawron"
				/>
				<SocialLink
					name="Twitter"
					handle="@Crawron"
					link="https://twitter.com/Crawron"
				/>
				<SocialLink name="Email" handle="caw at craw.run" />
				<SocialLink
					name="Cohost"
					handle="@craw"
					link="https://craw.cohost.org"
				/>
				<SocialLink
					name="Discord"
					handle="Crawron#9779"
					link="https://discord.com/users/109677308410875904"
				/>
			</div>
		</main>
	</body>
</html>
